@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  background-color: bisque;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}
